<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            {{!-- background-image: url("https://i.ibb.co/XCQc94c/pet.jpg"); --}}

            background-image: url("https://i.postimg.cc/vmc6w1Kz/pet.jpg");
            background-size: cover;

        }
    </style>
</head>
{{!-- <body style="background-image: url('C:\Users\tanis\OneDrive\Desktop\Mnior\attachments\templates\images\pet.jpg');">  --}}
<body> 
    <div id="login" style="border: solid black 3px; height: 50%; width: 50%; margin: 25%; text-align: center; background-color: blanchedalmond; opacity: 0.6;">
        <form action="/login" method="POST">
            <h3>Email : <input type="email" name="email" required ></h3>
            <br>
            <h3>Password : <input type="password" name="password" required ></h3>
            <br>
            <center><input type="submit" name="Submit" ></center>
            <br>
        </form>
    </div>
</body>
</html>

