 <!-- Navbar Section starts here -->
    <section class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#" title="logo">
                    <img src="" alt="" class="img-responsive"
                </a>
            </div>

            <div class="header text-right">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="categories.html">Categories</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                    <li>
                        <a href="signin.html">Sign In</a>
                    </li>
                    <li>
                        <a href="my_orders">My Appointments</a>
                    </li>
                    
                </ul>
            </div>

            <div class="clearfix.html" ></div>
        </div>
    </section>
    <!-- Navbar section ends here -->